<body>
    <nav class="navbar">
        <div class="navbar-container">
            <div class="logo" style="margin-right: 350px;">
                <span class="logo-icon" >🍳</span>
                <span class="logo-text" >FlavorShare</span>
            </div>

            <ul class="nav-links" id="navLinks">
                <li><a routerLink="/home" class="nav-link active" style="margin-right: 50px;">Home</a></li>
                <li><a routerLink="/details" class="nav-link" style="margin-right: 50px;">Détails</a></li>
            </ul>

            <div class="search-box">
                <span class="search-icon">🔍</span>
                <input type="text" class="search-input" placeholder="Rechercher une recette...">
            </div>

            <div class="nav-buttons">
                <button class="nav-button">❤️</button>
                <button class="nav-button">🔔</button>
            </div>
        

            <button class="hamburger" id="hamburger">☰</button>
        </div>
    </nav>

    <script>
        document.getElementById('hamburger').addEventListener('click', function() {
            document.getElementById('navLinks').classList.toggle('show');
        });
    </script>
</body>